#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

 / {
     keymap {
         compatible = "zmk,keymap";

         default_layer {
             bindings = <
                 &kp C_PREVIOUS    &kp C_PLAY_PAUSE &kp C_NEXT     &none
                 &kp F1            &kp F2           &kp F3         &kp F4
                 &kp F5            &kp F6           &kp F7         &kp F8
                 &kp F9            &kp F10          &kp F11        &kp F12
                 &kp F14           &kp F15          &kp F16        &kp F17
                 &kp F18           &kp C_MUTE       &kp C_VOL_DN   &kp C_VOL_UP
             >;
         };
         num_layer {
             bindings = <
                 &kp C_PREVIOUS      &kp C_PLAY_PAUSE   &kp C_NEXT       &none
                 &kp KP_N7           &kp KP_N8          &kp KP_N9        &kp KP_MINUS
                 &kp KP_N4           &kp KP_N5          &kp KP_N6        &kp KP_PLUS
                 &kp KP_N1           &kp KP_N2          &kp KP_N3        &kp ENTER
                 &kp F13             &kp KP_N0          &kp DOT          &kp F16
                 &kp F17             &kp C_MUTE         &kp C_VOL_DN     &kp C_VOL_UP
             >;
         };
        kicad_layer {
             bindings = <
                 &kp C_PREVIOUS    &kp C_PLAY_PAUSE &kp C_NEXT     &none
                 &kp ESC           &kp F2           &kp F3         &kp F4
                 &kp F5            &kp F6           &kp F7         &kp F8
                 &kp F9            &kp F10          &kp F11        &kp F12
                 &kp KP_N0         &kp KP_N1        &kp KP_N2      &kp KP_N3
                 &kp KP_N4         &kp C_MUTE       &kp C_VOL_DN   &kp C_VOL_UP
             >;
         };
     };
     combos {
        compatible = "zmk,combos";
        combo_default_layer {
            timeout-ms = <50>;
            key-positions = <20 16>;
            bindings = <&to 0>;
        };
        combo_num_layer {
            timeout-ms = <50>;
            key-positions = <20 17>;
            bindings = <&to 1>;
        };
        kicad_layer {
            timeout-ms = <50>;
            key-positions = <20 18>;
            bindings = <&to 2>;
        };
    };
 };
